@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.affix {
  top: 0;
  width: 100%;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
#calculadora {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*max-height: 100%;*/
    padding-top: 150px;
    text-align: center;
    background-size:100% auto;
}

#contacto {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    padding-top: 45px;
    text-align: center;
    background-size:100% auto;
}
#map
{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
#financieras 
{
    width: 80%;
    left: 10%;
    top: 2.5%;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}